<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Vote App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="f in frameworks">
                {{ f.name }} has {{ f.votes }} votes
                <button v-on:click="voteFor(f)">Vote</button>
                <button v-if="editMode" v-on:click="remove(f)">Delete</button>
            </li>
        </ul>

        <p>Current Winner(s): {{ winnerString }}</p>

        <button v-on:click="toggleEditMode">
            {{ editMode ? 'Done' : 'Edit' }}
        </button>
        <input placeholder="Add new" v-if="editMode" 
        v-on:keyup.enter="addNew">
    </div>
    <script src="script.js"></script>
</body>
</html>